name: CI

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]
  merge_group:

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
        with:
          submodules: recursive
      - name: Install uv
        uses: astral-sh/setup-uv@v7
      - name: Download public datasets
        run: ./scripts/download-public-datasets.sh --all
      - uses: mlugg/setup-zig@v2
      - run: zig build test -Doptimize=ReleaseSafe -Dci-tests=true --summary all
